@import "tailwindcss";
@plugin "daisyui"{
    themes: cupcake, dark , forest;
}

@plugin "daisyui/theme" {
  name: "cupcake";
  default: true;
  --color-primary: #10B981;
  --color-secondary: #1E293B;
}